@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../../fonts/Avenir-Heavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('../../fonts/Avenir-Book.ttf') format('truetype');
}
h3 {
  font-family: "Avenir-Heavy", sans-serif;
}
p {
  font-family: "Avenir-Book", sans-serif;
}
a {
  font-family: "Avenir-Heavy", sans-serif;
  text-transform: uppercase;
}